// .entete{
//     background-color: rgba(39, 132, 141, 0.841);
//     padding: 20px;
//     text-align: center;
//     font-family: 'Titan One', cursive;
  
// }
:host{ /*app-entete*/
    
    display: flex;
    
    background-color: rgba(39, 132, 141, 0.841);
    padding: 20px;
    button{
        width: 150px;
    }
    a {/*:not(:has(h1)){*/
        text-decoration: none;
    }
    nav{
        display: flex;
        align-items: center;
        a{
            margin-left: 16px;
            &.estActif{
                font-weight: bold;
            }
        }
    }
}
