


    <div class="liste">

        <article *ngIf="!peutEditer; else editable" class="produit"  >
            <p>Nom : {{produit.nom}}</p>
            <p>Fabricant : {{produit.fabricant}}</p>
            <p>Est éditable ? <input type="checkbox" (change)="changeEditable()" [(ngModel)]="peutEditer"></p>
        </article>
        <ng-template #editable>
            <article  class="produit" >
                <p>Nom : <input type="text" [(ngModel)]="produit.nom"></p>
                <p>Fabricant : <input type="text"  [(ngModel)]="produit.fabricant"></p>            
            </article>
        </ng-template>
    </div>   
    